@import "tailwindcss";

@theme {
	--color-primary: #d0b097;
	--color-secondary: #f1f1f1;
}

/* RadioButton */
.filter-switch {
	border: 2px solid transparent;
	background-color: #dbc7b7;
	border-radius: 30px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.filter-switch input {
	display: none;
}
.filter-switch label {
	flex: 1;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: ease-in 0.2s;
	font-weight: 500;
	font-size: 16px;
}
.filter-switch .background {
	position: absolute;
	width: 49%;
	height: 28px;
	background-color: var(--color-primary);
	top: 4px;
	left: 4px;
	border-radius: 30px;
	transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#option2:checked ~ .background {
	left: 50%;
}

#option1:checked + label[for="option1"] {
	color: var(--color-secondary);
	font-weight: bold;
}
#option2:checked + label[for="option2"] {
	color: var(--color-secondary);
	font-weight: bold;
}
#option1:not(:checked) + label[for="option1"],
#option2:not(:checked) + label[for="option2"] {
	color: #83756a;
}
.option:hover {
	font-weight: bold;
}
